
	<form name="individualForm" class="form-horizontal" novalidate>
		<fieldset>

			<!-- Form Name -->
			<legend>Create {{selectedHousehold == null ? "Head of Household" : "Member of Household"}}</legend>
			
			<div class="form-group">			
				<label class="col-md-4 control-label">Location</label>
				<div class="col-md-4 con">
				 	<input type="text" class="form-control input-md" value="{{selectedLocation.locationName}}" ng-disabled="true"/>
				</div>
			</div>
			
			<div class="form-group"  ng-show="selectedHousehold != null">			
				<label class="col-md-4 control-label">Household</label>
				<div class="col-md-4 con">
				 	<input type="text" class="form-control input-md" value="{{selectedHousehold.name}}" ng-disabled="true"/>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error' : individualForm.fieldWorkerExtId.$invalid && !individualForm.fieldWorkerExtId.$pristine}">
				<label class="col-md-4 control-label" for="fieldWorkerId">Field Worker ID*</label>
				<div class="col-md-4">
					<input type="text" id="fieldWorkerId" name="fieldWorkerId" placeholder="Field Worker ID" class="form-control input-md" ng-model="newIndividual.fieldWorkerExtId" ng-required="true"/>
					<span class="alert alert-error" ng-show="individualForm.fieldWorkerExtId.$dirty && individualForm.fieldWorkerExtId.$invalid">
						<small ng-if="individualForm.fieldWorkerExtId.$error.required">Required</small>
					</span>
				</div>
			</div>
			
			<!-- Text input -->
			<div class="form-group" ng-class="{'has-error' : individualForm.individualFirstName.$invalid && !individualForm.individualFirstName.$pristine}">
				<label class="col-md-4 control-label" for="firstName">First
					Name*</label>
				<div class="col-md-4">
					<input id="firstName" name="firstName" type="text"
						placeholder="First Name" class="form-control input-md"
						ng-model="newIndividual.individualFirstName" ng-required="true"> 
						<span class="help-block" ng-show="individualForm.individualFirstName.$invalid && !individualForm.individualFirstName.$pristine">
							<small ng-if="individualForm.individualFirstName.$error.required">Required</small>
						</span>
				</div>
			</div>

			<!-- Text input -->
			<div class="form-group" ng-class="{'has-error' : individualForm.individualLastName.$invalid && !individualForm.individualLastName.$pristine}">
				<label class="col-md-4 control-label" for="lastName">Last
					Name*</label>
				<div class="col-md-4">
					<input id="lastName" name="lastName" type="text"
						placeholder="Last Name" class="form-control input-md"
						ng-model="newIndividual.individualLastName" ng-required="true"> 
						<span class="help-block" ng-show="individualForm.individualLastName.$invalid && !individualForm.individualLastName.$pristine">
							<small ng-if="individualForm.individualLastName.$error.required">Required</small>
						</span>
				</div>
			</div>
	
			<div class="form-group" ng-class="{'has-error' : individualForm.individualGender.$invalid && !individualForm.individualGender.$pristine}">
				<label class="col-md-4 control-label" for="gender">Gender*</label>
				<div class="col-md-4">
					<select id="gender" ng-model="newIndividual.individualGender"
						ng-required="true" class="form-control">
						<option value="M">Male</option>
						<option value="F">Female</option>
					</select> 
					<span class="help-block" ng-show="individualForm.individualGender.$invalid && !individualForm.individualGender.$pristine">
						<small ng-if="individualForm.individualGender.$error.required">Required</small>
					</span>
				</div>
			</div>

<!-- 			<!-- Text input --> -->
<!-- 			<div class="form-group" ng-class="{'has-error' : individualForm.dob.$invalid && !individualForm.dob.$pristine}"> -->
<!-- 				<label class="col-md-4 control-label" for="dob">Date of Birth*</label> -->
<!-- 				<div class="col-md-4"> -->
<!-- 					<input id="dob" name="dob" type="text" -->
<!-- 						placeholder="Date of Birth" class="form-control input-md" -->
<!-- 						ng-model="newIndividual.dob" ng-required="true">  -->
<!-- 						<span class="help-block" ng-show="individualForm.dob.$invalid && !individualForm.dob.$pristine"> -->
<!-- 							<small ng-if="individualForm.dob.$error.required">Required</small> -->
<!-- 						</span> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
<!-- 			<div class="form-group" ng-class="{'has-error' : individualForm.mother.$invalid && !individualForm.mother.$pristine}"> -->
<!-- 				<label class="col-md-4 control-label" for="mother">Mother</label> -->
<!-- 				<div class="col-md-4"> -->
<!-- 					<select id="mother" ng-model="newIndividual.mother" -->
<!-- 						ng-required="false" class="form-control"> -->
<!-- 					</select> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
<!-- 			<div class="form-group" ng-class="{'has-error' : individualForm.father.$invalid && !individualForm.father.$pristine}"> -->
<!-- 				<label class="col-md-4 control-label" for="gender">Father</label> -->
<!-- 				<div class="col-md-4"> -->
<!-- 					<select id="father" ng-model="newIndividual.father" -->
<!-- 						ng-required="false" class="form-control"> -->
<!-- 					</select>  -->
<!-- 				</div> -->
<!-- 			</div> -->

			<!-- Button (Double) -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="createButton"></label>
				<div class="col-md-8">
					<button id="createButton" name="createButton" class="btn btn-default btn-inverse" ng-click="createNewIndividual()" ng-disabled="!individualForm.$valid">Create</button>
					<button id="cancelButton" name="cancelButton" class="btn btn-default btn-inverse" ng-click="cancelNewIndividual()">Cancel</button>
				</div>
			</div>

		</fieldset>
	</form>