	<!--  <div cg-busy="{promise:lhPromise,templateUrl:'partials/angular-busy.html',message:'Loading',minDuration:3000}"></div> -->
	
	<div class="col-md-3">
				<div ng-repeat="level in hierarchyLevels" >
					<div class="voffset2">
						<!-- <h3><span ng-class="disableLevel($index) ? 'label label-default' : 'label label-success'">Select {{level.name}}</span></h3> -->
 						<button type="button" class="btn btn-default btn-custom" ng-disabled="disableLevel($index)" ng-click="levelSelected($index)">Select {{level.name}}</button>
					</div>
					<div ng-show="getLevel($index) != null">
						<div>{{level.name}}: {{getLevel($index).name}}</div>
						<div>ExtId: {{getLevel($index).extId}}</div>
					</div>
				</div>
				<div class="voffset2">
					<!-- <h3><span ng-class="selectLocationEnabled() ? 'label label-success' : 'label label-default' ">Select Location</span></h3>-->
					<button type="button" class="btn btn-default btn-custom" ng-disabled="disableLocation()" ng-click="selectLocation()">Select Location</button> 
				</div>
				<div ng-show="selectedLocation != null">
					<div>ExtId: {{selectedLocation.extId}}</div>
					<div>Name: {{selectedLocation.locationName}}</div>
					<div>Latitude: {{selectedLocation.latitude}}</div>
					<div>Longitude: {{selectedLocation.longitude}}</div>				
				</div>
				<div ng-show="selectedHousehold != null">
					<div class="voffset2">
						<div>Household</div>
						<div>ExtId: {{selectedHousehold.extId}}</div>
						<div>Name: {{selectedHousehold.groupName}}</div>
					</div>				
				</div>
		</div>
		<div class="col-md-6">
				<div ng-repeat="item in hierarchyItems | filter:byParent()">
					<h2 ng-show="$first">{{item.level.name}}</h2>
    				<div class="text-center hierarchyItem" ng-click="selectLevelItem(item)">
    					<h3>{{item.name}}</h3>
    					<h4>{{item.extId}}</h4>
    				</div>
  				</div>
  				<!-- $rootScope.locations -->
  				<div ng-repeat="loc in locations">
					<h2 ng-show="$first">Locations</h2>
    				<div class="text-center hierarchyItem" ng-click="selectLocationItem(loc)">
    					<h3>{{loc.locationName}}</h3>
    					<h4>{{loc.extId}}</h4>
    				</div>
  				</div>
  				
  				<!-- $rootScope.locations -->
  				<div ng-repeat="ind in individuals">
					<h2 ng-show="$first">Individuals</h2>
    				<div class="text-center hierarchyItem" ng-click="selectIndividualItem(ind)">
    					<h3>{{ind.firstName}} {{ind.lastName}}</h3>
    					<h4>Relationship to Head: {{getIndRelationshipToHead(ind)}}</h4>
    					<h4>{{ind.extId}}</h4>
    				</div>
  				</div>
		</div>
		<div class="col-md-3">
			<div>
				<button type="button" class="btn btn-default btn-custom" ng-show="showCreateLocationButton()" ng-click="createLocation(selectedLevel.extId)">Create Location</button>
			</div>
			<div class="voffset2">
				<button type="button" class="btn btn-default btn-custom" ng-show="showCreateIndividualButton()" ng-click="createIndividual()">
					Create {{selectedHousehold && 'Member of Household' || 'Head of Household'}} 
				</button>
			</div>
			<div class="voffset2">
				<button type="button" class="btn btn-default btn-custom" ng-show="showCreateRelationshipButton()">Create Relationship</button>
			</div>
		</div>
