<!DOCTYPE html>
<html lang="en">
<body>
        <div id="nav-menu" class="navbar-collapse navbar-left collapse">
            <ul class="nav navbar-nav navbar-menu">
                <li data-ng-class="$state.is('home') ? 'active' : ''"><a data-ui-sref="home">Home</a></li>
                <li data-ng-class="$state.is('searchLocation') ? 'active' : ''"><a data-ui-sref="searchLocation">Location</a></li>
                <li data-ng-class="$state.is('searchIndividual') ? 'active' : ''"><a data-ui-sref="searchIndividual">Individual</a></li>


            </ul>
        </div><!-- /.navbar-collapse -->

</body>
</html>